body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-user-select: none;
  user-select: none;
}
#root,
.App {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  position: relative;
  width: 100vw;
}
.unity {
  height: 100%;
  width: 100%;
}
.loading-overlay {
  position: absolute;
}
.custom-loader,
.loading-overlay {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
}
.custom-loader {
  background: linear-gradient(180deg, #5d4085 0, #48326b);
  flex-direction: column;
  position: fixed;
  z-index: 9999;
}
.loading-text {
  color: #fff;
  font-family: Segoe UI Black, Arial Black, Arial Rounded MT Bold, Verdana,
    sans-serif;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}
.loading-bar-container {
  background-color: #2a1a4a;
  border: 3px solid #1a1030;
  border-radius: 15px;
  height: 28px;
  padding: 3px;
  width: 300px;
}
.loading-bar-fill {
  animation: fake-load 60s ease-out forwards;
  background: #fc0;
  border-radius: 10px;
  height: 100%;
  width: 0;
}
@keyframes fake-load {
  0% {
    width: 0;
  }
  33% {
    width: 90%;
  }
  to {
    width: 99%;
  }
}
